HEAD
*{
    margin: 5px;
    padding: 0;
}
.background_Homepage{
    width: 100%;
    margin-top: 6%;
}
ul {
    list-style: none; /* 去掉列表项的默认样式 */ 
}
#homepage-box {
    position: relative; /* 使用相对定位。父容器使用相对定位,为子元素提供参考系;子元素使用绝对定位,可精确控制其在父容器内的位置 */
    display: flex; /* 使用弹性布局 */
    flex-direction: column; /* 使用纵向布局 */
    justify-content: center; /* 设置元素在主轴上居中对齐 */
    align-items: center; /* 设置元素在交叉轴上居中对齐 */
}
/* 导航栏整体样式 */
#homepage-box nav {
    position: fixed; /* 使用固定定位 */
    width: 95%; 
    top: 10px; /* 设置元素的顶部与父容器顶部的固定距离 */
    z-index: 1000000; /* 设置堆叠层级 */
}
 /* 顶部导航栏整体样式 */
#homepage-box #top-nav {
    display: flex; /* 使用弹性布局 */
    flex-direction: row; /* 使用横向布局 */
    background-color: #fac158; 
    border-radius: 20px; /* 设置圆角大小 */
    opacity: 0.8; /* 设置透明度 */
}
/* 顶部导航栏样式 */
#homepage-box #top-nav li {
    flex: 1; /* 平分空间,均匀分布 */
    line-height: 60px; /* 设置行高 */
    display: block; /* 设置其为块级元素 */
    text-align: center; /* 设置文本或行内元素在父容器内水平居中 */
    font-size: 25px; /* 设置字体大小 */
    color: white; 
}
#homepage-box #top-nav li.space a {
    text-decoration: none;
    outline: none;
    color: inherit;/* 去除原本的超链接样式并继承父元素颜色样式 */
}

/* 顶部导航栏每个导航项的悬停样式 */
#homepage-box #top-nav li:hover {
    color: gray;
    background-color: #ffa600; /* 设置背景颜色 */
    border-radius: 20px; /* 设置圆角大小 */
}

/* 顶部NewThread样式 */
#homepage-box #top-nav .newthread{
    color: gray;
}
/* 顶部NewThread悬浮样式 */
#homepage-box #top-nav .newthread:hover {
    color: white;
}
/*隐藏超链接样式*/
#homepage-box #top-nav .newthread{
    text-decoration: none;
    outline: none;
}
.Geek{
    position: absolute;
    width: 400px;
    height: auto;
    top: 180px;
    left: 500px;
    /*控制动画时长*/
    transition: transform 0.3s;
    }
    /*实现鼠标悬停时logo放大*/
.Geek:hover{
    transform: scale(1.5);
    }
/*QQ群悬停展示效果*/
#homepage-box #top-nav #Introduction {
    position: relative;
}
#homepage-box #top-nav #Introduction .image-preview{
    position: absolute;
    top: 100%;
    left: 20%;
    width: 160px;
    height: 210px;
    background: orange;
    border-radius: 20px; 
    z-index: 100;
    visibility: hidden;
}
#homepage-box #top-nav #Introduction:hover .image-preview{
    visibility: visible;
}
.preview{
    width: 150px;
    height: 200px;
    border-radius: 20px;
}
/*开始Introduction部分*/
#Introductionback{
    position: relative;
}
#Introductionback .Introductionpic{
    position: absolute;
    width: 100%;
}
#Introductionback #Introduction{
    position: absolute;
    margin-top: 5%;
    font-size: 60px;
    color: rgb(37, 7, 170);
    display: flex;
    margin-left: 38%;
}
#every .card{
    display: flex;
    position: relative;
    top: 200px;
    margin: 0 auto; /* 水平居中 */
    margin-top: 30px;/* 设置顶部外间距 */
    margin-bottom: 30px; /* 设置底部外间距 */
    padding: 20px 30px; /* 设置容器内边距 */
    align-items: center; /* 设置元素在交叉轴上居中对齐 */
    justify-content: space-between; /* 设置元素在主轴上间距相等,而且第一个和最后一个元素分别紧贴容器的两端 */
    border: 4px solid #8b8a8a; 
    background-color: #fff; 
    border-radius: 20px; 
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.1); /* 设置阴影(X轴偏移量,Y轴偏移量,模糊程度,颜色) */
    width: 90%; 
    max-width: 1000px; /* 设置最大宽度 */
    min-height: 400px; /* 设置最小高度 */
}
#every .card-re{
    display: flex;
    position: relative;
    top: 200px;
    margin: 0 auto; /* 水平居中 */
    margin-top: 30px;/* 设置顶部外间距 */
    margin-bottom: 30px; /* 设置底部外间距 */
    padding: 20px 30px; /* 设置容器内边距 */
    align-items: center; /* 设置元素在交叉轴上居中对齐 */
    justify-content: space-between; /* 设置元素在主轴上间距相等,而且第一个和最后一个元素分别紧贴容器的两端 */
    border: 4px solid #8b8a8a; 
    background-color: #fff; 
    border-radius: 20px; 
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.1); /* 设置阴影(X轴偏移量,Y轴偏移量,模糊程度,颜色) */
    width: 90%; 
    max-width: 1000px; /* 设置最大宽度 */
    min-height: 400px; /* 设置最小高度 */
}
.pic{
    width: 400px;
    height: auto;
    transition: transform 1s ease;/* 鼠标离开后动画持续1秒以保证动画的连续性 */
}
/* 图片悬停动画 */
.pic:hover{
    transform: rotate(-15deg) scale(1.1);
    transition: 0.5s;
}
/* 将一和三的图片与文字元素调转顺序 */
.card-re{
    flex-direction: row-reverse;
}
/*文字样式*/
.card-text{
    font-size: 25px;
    left: 0;
}
.blue-title{
    color: blue;
}
.purple-title{
    color: purple;
}
.cyan-title{
    color: cyan;
}
.pink-title{
    color: pink;
}
/*aboutus部分*/
#about-box {
    display: flex;
    position: relative;
    top: 300px;
    margin: 0 auto; /* 水平居中 */
    margin-top: 30px;/* 设置顶部外间距 */
    margin-bottom: 30px; /* 设置底部外间距 */
    padding-left: 30px; /* 设置容器内边距 */
    padding-right: 30px;
    padding-bottom:200px;
    align-items: center; /* 设置元素在交叉轴上居中对齐 */
    justify-content: space-between; /* 设置元素在主轴上间距相等,而且第一个和最后一个元素分别紧贴容器的两端 */
    border: 4px solid #8b8a8a; 
    border-radius: 20px; 
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.1); /* 设置阴影(X轴偏移量,Y轴偏移量,模糊程度,颜色) */
    width: 90%; 
    max-width: 1000px; /* 设置最大宽度 */
    min-height: 400px; /* 设置最小高度 */
    background-color: #fff7e9ad;
}
#about-box h2 {
    position: absolute;
    margin-bottom: 10px; /* 设置底部外间距 */
    width: 100%; /* 设置宽度。“px”：设置元素宽度固定大小;“%”：设置元素宽度相对于父容器宽度的百分比 */
    top: 3%;/*调整标题位置*/
    text-align: center; /* 设置文本或行内元素在父容器内水平居中 */
    font-size: 50px; /* 设置字体大小 */
    color: #666666; /* 设置字体颜色 */
}
#about-box img{
    width: 80px;
    text-align: center;
}
#about-box .about-card {
    display: flex; /* 使用弹性布局 */
    justify-content: center; /* 设置元素在主轴上居中对齐 */
    width: 100%; /* 设置宽度。“px”：设置元素宽度固定大小;“%”：设置元素宽度相对于父容器宽度的百分比 */
    flex-direction: column;/* 文字与图片纵向排布 */
    margin-top: 15%;
    z-index: 1;
    gap: 15px;/* 元素间隔 */
}
#about-box .about-card {
    max-width: 130px; /* 设置最大宽度 */
    padding: 20px;
    border: 5px solid rgb(110, 10, 122); /* 设置边框(粗细、样式、颜色) */
    text-align: center; /* 设置文本或行内元素在父容器内水平居中 */
    background-color: #fff; /* 设置背景颜色 */
    border-radius: 15px; /* 设置圆角大小 */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* 设置阴影(X轴偏移量,Y轴偏移量,模糊程度,颜色) */
    transition: transform 1s ease;/* 鼠标离开后动画持续1秒以保证动画的连续性 */
}
#about-box .about-card:hover {
    transform: scale(1.2); /* 设置鼠标悬停时元素的放大倍数 */
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1); /* 设置阴影(X轴偏移量,Y轴偏移量,模糊程度,颜色) */
    transition: 0.5s;
}
.about-butterfly{
    float: right;
    width: 180px;
    z-index: 100;
    padding-top: 50px;
    padding-bottom: 80px;
    padding-right: 130px;
    position: relative;
    transition: transform 1s ease;/* 鼠标离开后上浮动画持续1秒以保证动画的连续性 */
}
.about-butterfly:hover{
    transform: translateY(20px);/* 下沉动画 */
}
.top-left{
    position: relative;
    width: 300px;
    float: left;
    bottom: 470px;
    margin: 30px;
    z-index: 10;
}
.bottom-right{
    position: relative;
    width: 300px;
    bottom: 470px;
    margin: 30px;
    z-index: 10;
    left: 600px;
    top: 200px;
}
.bottom-left{
    position: relative;
    width: 300px;
    bottom: 470px;
    margin: 30px;
    z-index: 10;
    top: 50px;
    float: left;
}
.top-right{
    position: relative;
    width: 300px;
    margin: 30px;
    z-index: 10;
    left: 600px;
    bottom: 625px;
}
#contact-box {
    position: relative;
    top: 100px;
    margin: 0 auto; /* 水平居中 */
    padding: 30px; /* 设置容器内边距 */
    border: 4px solid #165a6b; 
    border-radius: 20px; 
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.1); /* 设置阴影(X轴偏移量,Y轴偏移量,模糊程度,颜色) */
    width: 90%; 
    max-width: 1000px; /* 设置最大宽度 */
    min-height: 400px; /* 设置最小高度 */
    background-color: #fff7e9ad;
}
/* Contact Us 装饰部分具体样式 */
#contact-box .chameleon {
    position: absolute; 
    bottom: -30px;
    right: -30px;
    width: 300px; 
    height: auto; 
    z-index: 10; 
}

#contact-box .tree {
    position: absolute;
    top: -530px; 
    right: -90px; 
    width: 150px; 
    height: 700px; 
    z-index: 5; 
}

#contact-box .ladybug {
    position: absolute; 
    top:80px;
    left: -15px; 
    width: 50px; 
    height: auto; 
    z-index: 5;
}

#contact-box .leaves {
    position: absolute; 
    top: -450px; 
    left: 300px; 
    width: 50px; 
    height: auto; 
    transform: rotate(-15deg); 
}

#contact-box .left-tree {
    position: absolute; 
    top: -500px; 
    left: 0px; 
    width: auto; 
    height: 350px; 
    transform: rotate(0deg); 
    z-index: 5; 
}
/* Contact Us 标题样式 */
#contact-box h2 {
    display: flex;
    margin-bottom: 15px; /* 设置底部外间距 */
    font-size: 45px; /* 设置字体大小 */
    color: #072a33; /* 设置字体颜色 */
    justify-content: center;
}
/* Contact Us 文字样式 */
#contact-box p {
    position: relative; 
    margin: 10px auto; /* 设置元素在父容器内的上下外边距和左右外边距。“auto”表示居中 */
    width: 80%; /* 设置宽度。“px”：设置元素宽度固定大小;“%”：设置元素宽度相对于父容器宽度的百分比 */
    text-align: left; /* 设置文本或行内元素在父容器内左对齐 */
    line-height: 3.0; /* 设置行高 */
    max-width: 600px; /* 设置最大宽度 */
    color: #000000;
    font-size: 25px;
    word-wrap: break-word; /* 设置自动换行 */
}
#contact-box .ps{
    color: #8b8a8a;
    font-size: 17px;
}
.contact-button {
    position: relative;
    display: flex; /* 使用弹性布局 */
    margin-top: -80px; /* 设置顶部外间距 */
    justify-content: center; /* 设置元素在主轴上居中对齐 */
    align-items: center; /* 设置元素在交叉轴上居中对齐 */
    gap: 20px;
    transform: translateX(-30px); /* 设置元素沿X轴移动的距离 */
    z-index: 100000;
}
.contact-link {
    text-decoration: none;
    outline: none;
    margin: 25px;
    padding: 10px 20px;  
    background-color: #368f39; /* 设置背景颜色 */
    color: #fff; /* 设置字体颜色 */
    border-radius: 15px; /* 设置圆角大小 */
    transition: transform 0.3s ease, box-shadow 0.3s ease; /* 为background-color,transform,box-shadow属性设置平滑的过渡效果和持续时间 */ 
}

/* Contact Us 按钮部分之按钮悬停样式 */
.contact-link:hover {
    background-color: #2f7f33;  /* 设置背景颜色 */
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* 设置阴影(X轴偏移量,Y轴偏移量,模糊程度,颜色) */
    transform: scale(1.1); /* 设置鼠标悬停时元素的放大倍数 */
}
/* qa */
#qa-box {
    display: flex;
    position: relative;
    top: 300px;
    flex-direction: column; /* 使用纵向布局 */
    margin: 0 auto; /* 水平居中 */
    margin-top: 10px;/* 设置顶部外间距 */
    margin-bottom: 30px; /* 设置底部外间距 */
    padding-left: 30px; /* 设置容器内边距 */
    padding-right: 30px;
    padding-top:50px;
    padding-bottom: 100px;
    border: 4px solid #8b8a8a; 
    border-radius: 20px; 
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.1); /* 设置阴影(X轴偏移量,Y轴偏移量,模糊程度,颜色) */
    width: 90%; 
    max-width: 1000px; /* 设置最大宽度 */
    min-height: 400px; /* 设置最小高度 */
    background-image: url('../Geek 招新页面_files/background_QA.png'); /* 引入背景图片 */
    text-align: center;
}

/* Q&A 容器标题部分之标题具体样式 */
#qa-box #center-QA {
    margin-bottom: 20px; /* 设置底部外间距 */
    text-align: center; /* 设置文本或行内元素在父容器内水平居中 */
    font-size: 40px; /* 设置字体大小 */
    color: black;   /* 设置字体颜色 */
}

/* 问题样式 */
#qa-box .QA-question {
    display: block; /* 设置其为块级元素 */
    padding: 10px 0; 
    font-size: 30px; /* 设置字体大小 */
    color: rgb(0, 0, 0); /* 设置字体颜色 */
    cursor: pointer; /* 当鼠标指针悬停在需要点击的元素时,设置其变为手形 */
    transition: all 0.4s ease; /* 为transform和color属性设置平滑的过渡效果和持续时间 */
}
#qa-box .QA-question:hover {
    color: #7e7c7c; /* 设置字体颜色 */
    transform: scale(1.05); /* 设置鼠标悬停时元素的放大倍数 */
}
/* 答案样式 */
#qa-box .QA-answer {
    margin-top: 10px; /* 设置顶部外间距 */
    line-height: 1.5; /* 设置行高 */
    padding: 15px; 
    background-color: rgba(0, 0, 0, 0.1); /* 设置背景颜色 */
    font-size: 20px; /* 设置字体大小 */
    color: rgb(255, 255, 255); /* 设置字体颜色 */
    border-radius: 10px; /* 设置圆角大小 */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* 设置阴影(X轴偏移量,Y轴偏移量,模糊程度,颜色) */
    transition: all 0.3s ease;